@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(32, 24, 24);
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
    color: aliceblue;
    padding: 100px 100px 0 110px;
    backdrop-filter: blur(100px);
    background-image: linear-gradient(to right, #005c97, #363795);  
}

/* HEIGHT OF EACH SECTION */

.first-section, .section2 {
    height: 100vh;
}

.section3 {
    min-height: 100vh;
}

/* NAVBAR */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem;
}

.logo {
    position: absolute;
    left: 0;
    padding: 0 0 0 110px ;
    text-decoration: none;
    color: lightcyan;
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    float: right;
    padding-right: 110px;
    /* need to find a better way of doing navbar */
}

.navbar a {
    color: aliceblue;
    text-decoration: none;
    margin-right: 10px;
    font-size: 1.6rem;
}

.navbar a:hover{
    color: rgb(41, 10, 218);
}

/* MARGINS */

/* .first-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
} */

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* why doesn't it go in middle */
}

.home-content {
    margin-top: 200px;
}

.section3 {
    color: white;
}

.projects {
    text-align: center;
}

.projects, .about-me, .progress, .home-content {
    margin: 0 110px 0 100px;
}

.about-description {
    width: 50%;
    font-family: 'Courier Prime', monospace;
    font-weight: 200;
}

.project1, .project2, .project3, .project4 {
    margin-bottom: 100px;
}

/* FONT SIZES*/

.first-title, .second-title, .about-heading, .projects {
    font-size: 5rem;
}

.about-description {
    font-size: 1.5rem;
}

.footer {
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1rem;
}

.home-sci {
    display: flex;
    justify-content: center;
}

.home-sci a {
    margin: 0 0.5rem;
    color: lightcyan;
    font-size: 1.5rem;
}

.about-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.project-container {
    min-height: 100vh;
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.box {
    width: 100%; 
    min-width: 200px;
    height: 300px; 
    margin: 10px 0;
    width: 40rem;
}

.section2 img {
    border-radius: 5%;
    margin-bottom: 15px;
}

.progress::-webkit-progress-bar {
    background-color: black
}

.progress::-webkit-progress-value {
    background-color: white;
}

.progress::-moz-progress-bar {
    background-color: white;
}

.progress {
    position: fixed;
    top: 0;
    width: 100%;
    height: 12px;
    background-color: #000000;
}

#scrollButton {
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 6px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    /* background-color: rgb(28, 31, 167); */
    background-color: transparent;
    border: 2px solid black;
    margin-top: 10px;
}

/* .about-me {
    opacity: 0.5;
    animation: fadeInUp 5s ease-out;
    animation-iteration-count: infinite;
  } */

/* @keyframes fadeInUp {
    0%, 100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
} */

  
  
  


