* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-weight: bold;
    text-align: start;
    color: white;
    text-decoration: none;
}

body {
    color: black;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(to right top, #5200ee, #0e2ad1, #0032af, #00328b, #002e64, #00355f, #103a58, #223e51, #195368, #00697a, #008087, #00978e);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#home {
    display: grid;
    grid-template-columns: 230px 430px; /* Adjusted the width of each column */
    justify-content: center;
    align-content: start; /* Changed from center to start */
    /* align-items: center to center the text */
    gap: 30px;
    padding: 20px;
    margin: 150px 0;
}

.text-col {
    line-height: 1.3;
    flex-grow: 1;
    flex-shrink: 1;
}

.image-col {
    text-align: center;
}

.the-bosh {
    font-size: 3em;
}

.software-engineer {
    font-size: 1.5em;
}

.image-col img {
    border-radius: 10px;
    border: 2px solid #0c7c75;
}

.text-col span {
    color: #0c7c75;
}

.navbar a {
    color: #000000;
    position: relative;
    font-size: 1.2em;
}

.navbar a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.navbar a:hover::after {
    transform: scaleX(1);
}

  
.home-sci a {
    font-size: 1.5rem;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1.5rem;
    font-size: x-large;
}

.footer {
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

.image-container img {
    border-radius: 20px;
}

.descrip {
    text-align: center;
}


